{% extends "base.html" %}
{% load thumbnail humanize %}
{% block title %}Chat{% endblock title %}

{% block content %}
    <ul class="chat">
{#    {% for message in messagesList %}#}
{#               <li>#}
{#                    <div class="picture">#}
{#                        {% thumbnail message.sender.get_profile.profile_pic "40x40" as picture %}#}
{#                            <img src="{{ picture.url }}" />#}
{#                        {% endthumbnail %}#}
{#                    </div>#}
{#                    <div class="details">#}
{#                        <div class="date"><p title="{{ message.sent }}">{{ message.sent|naturaltime }}</p></div>#}
{#                        <div class="name"><a href="{% url specific_url message.sender.username %}">{{ message.sender.get_full_name }}</a></div>#}
{#                        <div class="message"><p>{{ message.message }}</p></div>#}
{#                    </div>#}
{#               </li>#}
{#    {% endfor %}#}
    </ul>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send" id="chat_submit" />
        <input type="hidden" value="{{ partner.username }}" id="partner_name" />
    </form>
{% endblock content %}

{% block js %}
<script src="{{ STATIC_URL }}js/jquery.autosize-min.js"></script>
<script src="{{ STATIC_URL }}js/chat.js"></script>
{% endblock js %}