/* _content.scss */

#content_wrapper{
  width: $sitewidth;
  margin: 0 auto;
}

#content{
  clear: both;
  padding: 20px;
}

.user_profile{
  .picture{
    float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
    img{
      vertical-align: middle;
    }
  }
  .details{
      .name{
        font-size: 24px;
      }
      .birthday{

      }
      .country{

      }
  }
}

.smaller{
  font-size: 50%;
}

h1{
  font-size: 18px;
  color: darken($site_color_scheme, 10);
  a{
    @extend h1;
    text-decoration: none;
    color: $link_color;
  }
}

.friend{
  @extend .user_profile;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ddd;
  height: 140px;
}

.chat{
  height: 400px;
  overflow-y: scroll;
  li{
    height: 50px;
    width: 100%;
    .picture{
      float: left;
      padding: 0 3px;
      margin: 0 2px;
      img{
        height: 40px;
        width: 40px;
      }
    }
    .details{
      .date{
        float: right;
      }
      .message{
        p{

        }
      }
    }
  }
}

#id_message{
  resize: none;
  height: 20px;
  width: 700px;
  border: 1px solid #ccc;
}

#id_wallpost{
  @extend #id_message;
  width: 400px;
  margin-bottom: 10px;
}

#chat_submit{
  width: 50px;
  height: 27px;
}

.not_seen{
  background-color: #e3e3e3;
}

.post{
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
  padding: 10px 0 0 10px;
  width: 600px;
  .image_container{
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    img{
      margin-right: 10px;
    }
  }
  .details{
    display: table-cell;
  }
}

.name{
  a{
    color: blue;
    text-decoration: none;
    font: bold 13px 'lucida grande',tahoma,verdana,arial,sans-serif;
    &:hover{
      text-decoration: underline;
    }
  }
}

p.the_post{
  padding: 10px 0;
  font: 13px 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.options{
  margin-left: 70px;
  .like{
    display: inline-block;
    margin-right: 5px;
    &:after{
      margin-left: 5px;
      content: "\00B7";
    }
    span{
      color: #6B84B4;
      cursor: pointer;
      &:hover{
        text-decoration: underline;
      }
    }
  }

  .dislike{
    @extend .like;
  }
  .comments{
	@extend .like;
  }
  .date{
    display: inline-block;
    span{
    }
  }
}

.opinion{
  margin-bottom: 10px;
}

span.like{
  img{
    position: relative;
    top: 4px;
  }
  color: blue;
  display: block;
  line-height: 16px;
}

span.dislike{
  @extend span.like;
  img{
    top: 6px;
  }
  color: red;
}

.comments{
  margin-top: 3px;
  .comment{
	padding: 2px 3px;
	margin: 1px;
	display: block;
    background-color: lighten($site_color_scheme, 30);
    border: 1px solid darken($site_color_scheme, 15);
	.content{
	  	padding: 0px 10px;
		font: 13px 'lucida grande',tahoma,verdana,arial,sans-serif;
	}
	.commenter{
	  display: inline-block;
      width: 150px;
      a{
        font: 9px 'lucida grande',tahoma,verdana,arial,sans-serif;
        margin-right: 30px;
		text-decoration: none;
		color: darken($site_color_scheme, 50);
		&:hover{
		  text-decoration: underline;
		}
	  }
	}
	.date{
      @extend .commenter;
      abbr{
        font: 9px 'lucida grande',tahoma,verdana,arial,sans-serif;
        margin: 0;
      }
	}
    .options{
      display: inline-block;
      float: right;
      span{
        font: 9px 'lucida grande',tahoma,verdana,arial,sans-serif;
        color: darken($site_color_scheme, 50);
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

.commentbox{
  resize: none;
  display: inline-block;
  height: 20px;
  width: 515px;
  border: 1px solid #ccc;
  padding: 5px;
}

.post_comment{
  display: inline-block;
  position: relative;
  top: -11px;
  left: -1px;
  height: 32px;
  width: 70px;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  background-color: lighten($site_color_scheme, 20);
  border: 1px solid darken($site_color_scheme, 15);
}

#id_wallpost{
  @extend .commentbox;
}

#wallpost_send{
  @extend .post_comment;
  top: -21px;
}