/* _content.scss */

#content_wrapper{
  width: $sitewidth;
  margin: 0 auto;
}

#content{
  clear: both;
  padding: 20px;
}

.user_profile{
  .picture{
    float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
    img{
      vertical-align: middle;
    }
  }
  .details{
      .name{
        font-size: 24px;
      }
      .birthday{

      }
      .country{

      }
  }
}

.smaller{
  font-size: 50%;
}

h1{
  font-size: 18px;
  color: darken($site_color_scheme, 10);
  a{
    @extend h1;
    text-decoration: none;
    color: $link_color;
  }
}

.friend{
  @extend .user_profile;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ddd;
  height: 140px;
}

.chat{
  height: 400px;
  overflow-y: scroll;
  li{
    height: 50px;
    width: 100%;
    .picture{
      float: left;
      padding: 0 3px;
      margin: 0 2px;
      img{
        height: 40px;
        width: 40px;
      }
    }
    .details{
      .date{
        float: right;
      }
      .message{
        p{

        }
      }
    }
  }
}

#id_message{
  height: 20px;
  width: 700px;
  float: left;
  border: 1px solid #ccc;
}

#chat_submit{
  width: 50px;
  height: 27px;
}

.not_seen{
  background-color: #e3e3e3;
}

.post{
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
  padding: 10px 0 0 10px;
  width: 600px;
  .image_container{
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px;
    img{
      margin-right: 10px;
    }
  }
  .details{
    display: table-cell;
  }
}

.name{
  a{
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
  }
}

p.the_post{
  padding: 10px 0;
  font: 12px 'lucida grande',tahoma,verdana,arial,sans-serif;
}

.options{
  margin-left: 70px;
  .like{
    display: inline-block;
    margin-right: 5px;
    &:after{
      margin-left: 5px;
      content: "\00B7";
    }
    img{

    }
    span{

    }
  }
  .dislike{
    display: inline-block;
    margin-right: 5px;
    &:after{
      margin-left: 5px;
      content: "\00B7";
    }
    img{

    }
    span{

    }
  }
  .date{
    display: inline-block;
    span{

    }
  }
}