/* _content.scss */

#content_wrapper{
  width: $sitewidth;
  margin: 0 auto;
}

#content{
  clear: both;
  padding: 20px;
}

.user_profile{
  .picture{
    float: left;
    margin: 5px;
    width: 150px;
    height: 150px;
    img{
      vertical-align: middle;
    }
  }
  .details{
      .name{
        font-size: 24px;
      }
      .birthday{

      }
      .country{

      }
  }
}

.smaller{
  font-size: 50%;
}

h1{
  font-size: 18px;
  color: darken($site_color_scheme, 10);
  a{
    @extend h1;
    text-decoration: none;
    color: $link_color;
  }
}

.friend{
  @extend .user_profile;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ddd;
  height: 140px;
}

.chat{
  height: 400px;
  overflow-y: scroll;
  li{
    height: 50px;
    width: 600px;
    .picture{
      float: left;
      padding: 0 3px;
      margin: 0 2px;
      img{
        height: 40px;
        width: 40px;
      }
    }
    .details{
      .name{
        a{
          color: blue;
          font-weight: bold;
          text-decoration: none;
        }
      }
      .date{
        float: right;
      }
      .message{
        p{

        }
      }
    }
  }
}

#id_message{
  height: 20px;
  width: 700px;
  float: left;
  border: 1px solid #ccc;
}

#chat_submit{
  width: 50px;
  height: 27px;
}