/* main.scss */
/* _mixins.scss */
#ui-datepicker-div {
  display: none; }

/* _reset.scss */
html, body, div, span, applet, object, iframe,
h1,
h1 a, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 12px;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* _layout.scss */
/* _header.scss */
#header_wrapper {
  background: #64b41a;
  height: 35px;
  overflow: hidden; }

#header {
  width: 800px;
  margin: 0 auto; }

#site_logo {
  display: inline-block;
  padding: 11px 5px; }
  #site_logo a {
    display: block;
    font-weight: bold;
    font-family: 'Rammetto One', cursive;
    text-transform: uppercase;
    color: black;
    text-decoration: none; }
  #site_logo:hover {
    background-color: #69bd1b; }

#searchbar {
  display: inline-block; }

#profile {
  display: inline-block;
  float: right;
  padding: 2px 5px;
  cursor: pointer; }
  #profile .profile_image_small {
    width: 30px;
    height: 30px;
    float: left; }
  #profile .profile_name {
    font-size: 14px;
    float: right;
    margin-top: 9px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  #profile:hover, #profile.active {
    background-color: #69bd1b; }

.triangle_down {
  float: right;
  margin-top: 4px;
  margin-left: 5px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7.5px 5px 0 5px;
  border-color: #333 transparent transparent transparent; }
  .triangle_down.active {
    border-color: white transparent transparent transparent; }

#header_login {
  display: inline-block;
  float: right;
  padding: 2px 5px; }

#profile_options {
  display: none;
  position: absolute;
  top: 0;
  width: 130px;
  margin-top: 33px; }
  #profile_options ul {
    background-color: #64b41a; }
    #profile_options ul li {
      padding: 5px 10px; }
      #profile_options ul li:hover {
        background-color: #73cf1e; }
      #profile_options ul li a {
        display: block;
        text-decoration: none;
        color: black; }

#search_results {
  display: none;
  position: absolute;
  top: 27px;
  width: 200px; }
  #search_results ul li {
    display: block;
    background-color: white;
    overflow: hidden;
    border: 1px solid #333;
    border-top-width: 0px; }
    #search_results ul li a {
      height: 60px;
      padding: 2px 10px;
      display: block;
      color: black;
      text-decoration: none; }
    #search_results ul li.current {
      background-color: #64b41a; }
    #search_results ul li.hover {
      background-color: #4b8714; }
    #search_results ul li:first-child {
      border-top-width: 1px; }
    #search_results ul li img {
      padding: 1px;
      background-color: white;
      border: 1px solid black;
      margin: 2px;
      float: left;
      max-height: 50px;
      max-width: 50px; }

/* _content.scss */
#content_wrapper {
  width: 800px;
  margin: 0 auto; }

#content {
  clear: both;
  padding: 20px; }

.user_profile .picture, .friend .picture {
  float: left;
  margin: 5px;
  width: 150px;
  height: 150px; }
  .user_profile .picture img, .friend .picture img {
    vertical-align: middle; }
.user_profile .details .name, .friend .details .name {
  font-size: 24px; }

.smaller {
  font-size: 50%; }

h1, h1 a {
  font-size: 18px;
  color: #4b8714; }
  h1 a {
    text-decoration: none;
    color: #333212; }

.friend {
  padding: 5px;
  margin: 10px;
  border: 1px solid #ddd;
  height: 140px; }

.chat {
  height: 400px;
  overflow-y: scroll; }
  .chat li {
    height: 50px;
    width: 100%; }
    .chat li .picture {
      float: left;
      padding: 0 3px;
      margin: 0 2px; }
      .chat li .picture img {
        height: 40px;
        width: 40px; }
    .chat li .details .date {
      float: right; }

#id_message, #id_wallpost {
  resize: none;
  height: 20px;
  width: 700px;
  border: 1px solid #ccc; }

#id_wallpost {
  width: 400px;
  margin-bottom: 10px; }

#chat_submit {
  width: 50px;
  height: 27px; }

.not_seen {
  background-color: #e3e3e3; }

.post {
  margin-bottom: 15px;
  border-top: 1px solid #ccc;
  padding: 10px 0 0 10px;
  width: 600px; }
  .post .image_container {
    display: table-cell;
    vertical-align: middle;
    width: 60px;
    height: 60px; }
    .post .image_container img {
      margin-right: 10px; }
  .post .details {
    display: table-cell; }

.name a {
  color: blue;
  text-decoration: none;
  font: bold 13px 'lucida grande',tahoma,verdana,arial,sans-serif; }
  .name a:hover {
    text-decoration: underline; }

p.the_post {
  padding: 10px 0;
  font: 13px 'lucida grande',tahoma,verdana,arial,sans-serif; }

.options {
  margin-left: 70px; }
  .options .like, .options .dislike, .options .comments {
    display: inline-block;
    margin-right: 5px; }
    .options .like:after, .options .dislike:after, .options .comments:after {
      margin-left: 5px;
      content: "\00B7"; }
    .options .like span, .options .dislike span, .options .comments span {
      color: #6B84B4;
      cursor: pointer; }
      .options .like span:hover, .options .dislike span:hover, .options .comments span:hover {
        text-decoration: underline; }
  .options .date {
    display: inline-block; }

.opinion {
  margin-bottom: 10px; }

span.like, .options span.dislike, .options span.comments, span.dislike {
  color: blue;
  display: block;
  line-height: 16px; }
  span.like img, .options span.dislike img, .options span.comments img, span.dislike img {
    position: relative;
    top: 4px; }

span.dislike {
  color: red; }
  span.dislike img {
    top: 6px; }

.comments {
  margin-top: 3px; }
  .comments .comment {
    padding: 2px 3px;
    margin: 1px;
    display: block;
    background-color: #d1d8e7;
    border: 1px solid #3e537b; }
    .comments .comment .content {
      padding: 0px 10px;
      font: 13px 'lucida grande',tahoma,verdana,arial,sans-serif; }
    .comments .comment .commenter, .comments .comment .date {
      display: inline-block; }
      .comments .comment .commenter a, .comments .comment .date a {
        font: 8px 'lucida grande',tahoma,verdana,arial,sans-serif;
        margin-right: 30px;
        text-decoration: none;
        color: #6B84B4; }
        .comments .comment .commenter a:hover, .comments .comment .date a:hover {
          text-decoration: underline; }
    .comments .comment .date {
      margin: 0; }

/* _footer.scss */
