{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Friends of {{ request.username }}{% endblock title %}
{% block content %}
    <h1>Friends of <a href="{% url specific_url member.username %}">{{ member.first_name }}</a>'s</h1>
    {% for friend in friends.all %}
    <div class="friend">
        <div class="picture">
            {% thumbnail friend.get_profile.profile_pic "150x150" as im %}
                <img src="{{ im.url }}" />
            {% endthumbnail %}
        </div>
        <div class="details">
            <div class="name">{{ friend.get_full_name }}</div>
            <div class="birthday">{{ friend.get_profile.birth_date|date:"Y.m.d" }}</div>
            <div class="country">{{ friend.get_profile.countries}}</div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}