{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ profiles.first_name }}'s profile{% endblock title %}

{% block content %}
    {% if friendable == 0 %}
        <div class="add_friend"><a href="/profile/{{ profiles.username }}/add/">Add Friend</a></div>
    {% else %}
        {% if friendable != "none" %}
            <div class="chat_with_friend"><a href="/chat/{{ profiles.username }}">Chat</a></div>
            <div class="remove_friend"><a href="/profile/{{ profiles.username }}/remove/">Remove Friend</a></div>
        {% else %}
            <div class="edit_yourself"><a href="/edit/">Edit profile</a></div>
            <div class="friendlist"><a href="{% url friendlist profiles.username %}">Friends</a></div>
        {% endif %}
    {% endif %}
    <div class="user_profile">
        <div class="picture">
            {% thumbnail profiles.get_profile.profile_pic "150x150" crop="center" as im %}
                <img src="{{ im.url }}" />
            {% endthumbnail %}
        </div>
        <div class="details">
            <div class="name">{{ profiles.get_full_name }} <span class="smaller">({{ age }})</span></div>
            <div class="birthday">{{ profiles.get_profile.birth_date|date:"Y.m.d" }}</div>
            <div class="country">{{ profiles.get_profile.countries}}</div>
        </div>
    </div>
{% endblock content %}