{% extends "base.html" %}
{% load thumbnail %}
{% block title %}X's profile{% endblock title %}

{% block content %}
    <ul id="posts">
    {% for post in posts %}
        <li>
            <div class="post">
                    <div class="image_container">
                        {% thumbnail post.poster.get_profile.profile_pic "60x60" crop="center" as profile_picture %}
                            <a href="{% url specific_url post.poster.username %}"><img src="{{ profile_picture.url }}" /></a>
                        {% endthumbnail %}
                    </div>
                <div class="details">
                    <span class="name"><a href="{% url specific_url post.poster.username %}">{{ post.poster.get_full_name }}</a></span>
                    <p class="the_post">{{ post.post }}</p>
                </div>
                <div class="options">
                    <div class="like">
                        <img src="{{ STATIC_URL }}images/like.png" /> <span>Liked</span>
                    </div>
                    <div class="dislike">
                        <img src="{{ STATIC_URL }}images/dislike.png" /> <span>Disliked</span>
                    </div>
                    <div class="date">
                        <abbr class="timeago" title="{{ post.posted_on|date:"Y-m-d\TH:m:s\Z" }}">{{ post.posted_on|date:"l, F d, Y \a\t g:m:sa" }}</abbr>
                    </div>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>

<script type="text/javascript">
    $().ready(function(){
        $('abbr.timeago').timeago();
    })
</script>
{% endblock content %}

{% block js %}
<script src="{{ STATIC_URL }}js/timeago.min.js"></script>
{% endblock js %}